<div class="row media mt-5 ml-3">
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <section class="my-3" style="background-color:white">
        <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
        <a [routerLink]="['/home/profile', post.acct_id]"> <p class="mr-4 mb-0">{{post.name}} </p> </a>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item"><a href="" class="mr-3" ><i class="fas fa-envelope mr-1"></i>Send message</a></li>
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-user mr-1"></i>See profile</a></li>
          </ul>
        </div>
        <div class="media mt-4 px-1 text-md-left">
          <img class="card-img-100 d-flex z-depth-1 mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
            alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="font-weight-bold mt-0">
              <a [routerLink]="['/post', post.id]">{{post.title}}</a>
            </h5>
            <p class="text-justify mr-3">
              {{post.content}}
            </p>
          </div>
        </div>
      </section>
      <mdb-card>
        <mdb-card-body>
          <div class="comment" *ngFor="let comment of comments" style="position:relative">
            <div class="image-container">
              <img class="card-img-100 d-flex z-depth-1 mr-3 mb-2" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" alt="Generic placeholder image" style="width:50px; height:50px; border-radius: 10%;">
              <div class="profile" *ngFor="let profile of profiles" style="position:absolute; top:0; margin-left: 55px">
                <p *ngIf="comment.acctid === profile.id">
                  {{profile.first}} {{profile.last}} <br>
                </p>
              </div>
              <p style="font-size: 8pt; margin-top:-35px; margin-left: 55px; color:#9F9F9F"> Today at 5:42PM </p>
            </div> 
            <p class="text-justify" style="overflow-wrap: break-word; font-size: 10pt">
              {{comment.laman}}
            </p>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
</div>